<html>
    <head>
        {{>header}}
        <title>About-Bikayi</title>
        <style>
            body{
                background-color: #0b0d33cc;
                font-family: 'Segoe UI', Tahoma;
                font-weight: 300;
            }
            .bdy{
                color: antiquewhite;
                background-color: #0c0b0da6;
                height: 60%;
                width: 80%;
                padding: 3%;
                border-radius: 4px;
                margin-top: 6%;
            }
            div > p{
                font-family: 'Segoe UI';
                font-size:large;
                font-weight: 300;
            }
        </style>
    </head>
    <body>
        {{>navbar}}
        <div class="container bdy justify-content-md-center">
            <div class="row justify-content-md-center" >
                <p>Founded in 2019 by IIITians Sonakshi Nathani and Ashutosh Singla, Bikayi enables small and medium-sized businesses (SMBs) scale up on digital platforms, helping them reach a wider audience. The platform provides businesses with a digital storefront, professional features, and tools to help them grow.</p>
            </div>
        </div>
    </body>
</html>