<nav class="navbar navbar-top" style="background-color: #080606eb;border-color:#02010139;border-radius: 0;">
  <div class="container">
    <div class="navbar-header br">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" style="margin: 29 0 29 0;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="margin: 20 0 20 0;font-size: xx-large;">Bikayi</a>
    </div>
    <div class="collapse navbar-collapse" id="myNav">
      <ul class="nav navbar-nav navbar-right">
        <li  class="navli"><a href="/" class="nav-link" style="margin: 20 0 20 0; transition: 0.3s;
                cursor: pointer;
                text-decoration: none;font-size: x-large;">Home</a></li>
        <li  class="navli"><a href="/about" class="nav-link" style="transition: 0.3s;
                cursor: pointer;
                text-decoration: none;margin: 20 0 20 0; font-size: x-large;">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>
